/* Main Body Content Start from here */
/* About ME Heading Starts From Here */
.about-me {
    font-family: poppins;
    display: flex;
    justify-content: center;

    &_heading{
        text-align: center;

        h3 {
            margin-top: 1rem;
            font-size: 2rem;
        }

        p {
            font-size: 1.2rem;
            font-family: Poppins;
        }

        &::after {
            margin-top: 1rem;
            content: '';
            display: block;
            background-color: rgb(114, 114, 38);
            width: 10rem;
            height: 0.5rem;
            border-radius: 23px;
            position: relative;
            left: 42%;
        }
    }

    &_side_containers {
        display: flex;
        justify-content: space-between;

        &_left{
            margin-top: 1.3rem;
            width: 40rem;
            padding: 1rem;
            font-size: 1.4rem;
        }

        &_right{
            width: 40rem;
            padding: 1rem;

            h3 {
                font-size: 1.5rem;
            }

            & > p {
                margin: 2rem 1rem;
            }
        }
    }
}

/* this one for contact button on the Get to know me container */
.ContactmeBtn {
    background-color: transparent;
    margin: 5vh 0px 0px 0px;
    padding: 2vh;
    box-shadow: 5px 5px 9px black;
    border-radius: 7px;
    border: none;
    font-size: 2.9vh;
    cursor: pointer;
}

.ContactmeBtn:hover {
    color: rgb(80, 78, 78);
    background-color: rgb(170, 169, 169);
}

.BOX_containers {
    display: flex;
    flex-wrap: wrap;
}

.BOX {
    background-color: transparent;
    box-shadow: 6px 9px 5px #a0a0a0;
    margin: 0.6rem;
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 7px;
    transition: background-color .4s;
}

.BOX:hover {
    background-color: rgb(223 224 224);
}

/* Mobile View Starts From Here */
@media screen and (max-width: 609px) {
    .About_Me {
        margin-left: -1vh;
    }

    .aboutme_Heading::after {
        width: 24vw;
        height: 0.5vh;
        margin-top: -1.8vh;
    }

    .aboutme_Heading h3 {
        font-size: 2.9vh;
        letter-spacing: 0.4vh;
        margin-left: 1vh;
    }

    .aboutme_para {
        font-size: 2vh;
    }

    .side_containers {
        flex-direction: column;
    }

    .Left_side_containers {
        width: 85vw;
        font-size: 2vh;
    }

    .ContactmeBtn {
        padding: 1vh;
        font-size: 1.8vh;
    }

    .Right_side_containers h3 {
        font-size: 2.4vh;
    }

    .Right_side_containers {
        padding: 3vh;
        width: 85vw;
    }

    .BOX_containers {
        width: 88vw;
        margin: 0vh;
    }

    .BOX {
        font-size: 1.7vh;
        padding: 1.3vh;
        margin: 0.6vh;
    }
}