/* From here banner starts */
.banner-div {
  height: 100vh;
  margin: 0%;

  &_img {
    height: 100%;
    background: url("../media/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    &_text {
      font-family: poppins;
      text-align: center;
      position: absolute;
      top: 23%;
      color: rgb(255, 253, 250);

      h2 {
        text-shadow: 2px 2px 3px red, 3px 3px 3px blue, 4px 4px 3px red;
        text-align: center;
        font-size: 5vh;
        margin: 0px;
      }

      &_myname {
        font-size: 8vh;
      }
    }
  }
}

/* Mouse Roll Animation Starts From here */
.mouseroll-section {
  display: flex;
  position: relative;
  top: 100px;
  justify-content: center;

  &_mouseroll {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 50px;
    border: 2px solid rgb(201, 197, 188);
    border-radius: 50px;
    position: relative;
    overflow: hidden;

    &::before {
      background-color: wheat;
      content: '';
      width: 5px;
      height: 5px;
      position: absolute;
      top: 7px;
      left: 52%;
      transform: translateX(-50%);
      border-radius: 50%;
      opacity: 1;
      animation: wheel 3s infinite;
    }
  }
}

@keyframes wheel {
  from {
    box-shadow: 0px 0px 15px yellow, 0px 0px 15px yellow, 0px 0px 15px yellow;
  }

  to {
    opacity: 0;
    top: 37px;
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}

/* Mobile View Starts From HEre */
@media screen and (max-width:609px) {
  .myname {
    font-size: 4.9vh;
  }

  .text-content h2 {
    font-size: 3.5vh;
  }

  .text-content p {
    font-size: 2vh;
  }
}