/* Blogs Section Starts From Here */
.Myblogs_heading {

  & h3 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.6rem;

    &::after{
      content: '';
      display: block;
      width: 15rem;
      height: 0.2rem;
      background-color: #ffdb0e;
      margin: 0.5rem auto;
    }
  }

  & p {
    text-align: center;
    font-size: 1.1rem;
  }
}

.blogs-section{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &_blog{
    width: 35rem;
    padding: 0.3rem;
    text-align: center;
    border-radius: 0.3rem;
    box-shadow: 4px 4px 9px black;
    margin-top: 4rem;

    &_img{
      position: relative;
      overflow: hidden;
      border-radius: 0.5rem;
      background-color: black;

      &>img{
        position: relative;
        width: 30rem;
        height: 20rem;
        opacity: 0.5;
        cursor: pointer;
        transition: transform 2s;
      }

      &_info{
        position: absolute;
        color: white;
        top: 10rem;
        left: 1rem;
        backdrop-filter: blur(2px);
        padding: 1rem;
        text-align: left;

        & p{
          font-size: 1.5rem;
        }

        & article{
          text-overflow: ellipsis;
        }
      }

      & img:hover{
        transform: scale(1.1);
      }
    }
  }
}

/* Blogs Link starts From  */
.Explore_Blogs {
  display: flex;
  justify-content: center;
  position: relative;
  top: 5vh;

}

.Explore_Blogs a {
  box-shadow: 5px 5px 9px black;
  text-decoration: none;
  color: black;
  background-color: rgb(211, 211, 63);
  padding: 1.3vh;
  font-size: 3vh;
  border-radius: 1vh;
  margin: 4vh;
}

/* Mobile View Starts From Here */
@media screen and (max-width: 609px) {
  .Myblogs_heading h3 {
    letter-spacing: 0.4vh;
  }

  .Myblogs_heading h3::after {
    width: 24vw;
    margin-top: -0.1vh;
    height: 0.5vh;
  }

  .Myblogs_section {
    display: flex;
    margin: 0vh;
    padding: 0vh;
    justify-content: center;
  }

  .Blog_Container {
    width: 80vw;
    padding: 0.5vh;
    /* height: 40vh; */
  }

  .Blog_Container img {
    margin: 2vh;
    height: 35vh;
  }

  .Explore_Blogs {
    top: 2vh;
  }

  .Explore_Blogs a {
    padding: 1vh;
    font-size: 2vh;
  }

}