.contact-section {
  margin-top: 6rem;


  &_text {


    &>h3 {
      font-size: 2rem;
      text-align: center;

      &::after {
        content: '';
        display: block;
        width: 15rem;
        height: 0.2rem;
        background-color: #ffdb0e;
        margin: 0.5rem auto;
      }
    }

    &>p{
      text-align: center;
      font-size: 1rem;
    }
  }

  &_btn{
    text-align: center;
    margin: 3rem;

    & > a{
      text-decoration: none;
      font-size: 1.5rem;
      background-color: #ffdb0e;
      padding: 1rem;
      border-radius: 0.3rem;
      color: black;
    }
  }


}

@media screen and (max-width: 768px) {
  .contact-section {
    &_text {
      &>h3 {
        font-size: 1.5rem;
      }
      &>p {
        font-size: 0.8rem;
      }
    }

    &_btn {
      &>a {
        font-size: 1rem;
      }
    }
  }
  
}