.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #201e1e;
  color: white;
  
  &_left {
    padding: 3rem;
    width: 50vw;
  }
  
  &_right {
    padding: 3rem;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    &_social {

      &>a {
        &>img {
          height: 2rem;
          margin: 1rem;
        }
      }
    }
  }
}